<section
  class="d-flex justify-content-center align-items-center page-bg orange-bg"
>
  <div class="container text-center">
    <h1 class="text-light mt-4 text-uppercase">about component</h1>
    <div class="star my-4">
      <span><i class="fa-solid fa-star"></i></span>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="text-light">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
      <div class="col-md-6">
        <p class="text-light">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
      </div>
    </div>
  </div>
</section>
