<section class="d-flex justify-content-center align-items-center page-bg">
  <div class="container text-center">
    <h1 class="mt-4 text-uppercase">conatct section</h1>
    <div class="star my-4">
      <span><i class="fa-solid fa-star"></i></span>
    </div>

    <form action="" class="mt-5">
      <input type="text" placeholder="userName" />
      <input type="email" placeholder="userEmail" />
      <input type="text" placeholder="userAge" />
      <input type="text" placeholder="userPassword" />
      <button class="btn">Send Message</button>
    </form>
  </div>
</section>
