<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="home">Start Framework</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLinkActive="orange-bg" class="nav-link" routerLink="about"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a routerLinkActive="orange-bg" class="nav-link" routerLink="portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="orange-bg" class="nav-link" routerLink="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
